<form #heroForm="ngForm">
  <div class="card" *ngIf='showImage'>
    <div class="card__select">
      <div
        *ngFor="let card of _cards"
        class="card__select-mastercard"
      >
        <input 
          type="radio"
          [id]="'cb' + card.id"
          name="card"
          [(ngModel)]="model.card"
          [ngModelOptions]="{standalone: true}"
          [value]="card.alias"
          required
        />
        <label [for]="'cb' + card.id">
          <!-- <img 
            *ngIf="card.type === 'mastercard'"
            src="../../assets/img/mastercard.png" alt=""
          >
          <img 
            *ngIf="card.type === 'visa'"
            src="../../assets/img/visa.png" alt=""
          > -->
          {{ card.alias }}
          {{ card.number }}
        </label>
      </div>
    </div>
    <div class="card__input">
      <input 
        [(ngModel)]="model.amount" 
        [ngModelOptions]="{standalone: true}"
        class="input" type="number"
         placeholder="Сума:" required>
      <input 
        [(ngModel)]="model.password" 
        [ngModelOptions]="{standalone: true}"
        class="password" type="password" placeholder="PIN" 
        required>
      <button [disabled]="submitting" mat-stroked-button type="submit" (click)='submitForm()'>Оплата</button>
    </div>
  </div>
  <div class="success" *ngIf='!showImage'>
    <div class="success__title">Оплата пройшла успішно!</div>
    <div class="success__img">
      <img src="../../assets/img/if_tick_green_619543.png" alt="">
    </div>
  </div>
</form>