<div class="container">
  <div class="row user-list">
    <app-user
      *ngFor="let p of photos"
      [user]="p"
      (click)="setSelectedPhoto(p)"
    ></app-user> 
  </div>
  <mat-divider vertical class="user-divider"></mat-divider>
  <div class="user-update">
    <update-button (click)="reload()"></update-button>
  </div>     
</div>
<div class="user-info">
    <mat-card 
      *ngIf="selectedPhoto"
      class="user-info__profiles"
    >
      <app-user-info
        *ngFor="let profile of profiles"
        [user]="profile"
        [selected]="profile === selectedProfile"
        (click)="setSelectedProfile(profile)"
      >
      </app-user-info>
    </mat-card>
    <mat-card 
      *ngIf="selectedProfile"
      class="user-info__payment"
    >
      <app-user-payment
        [cards]="cards"
        [pid]="selectedProfile.id"
      ></app-user-payment>
    </mat-card>
</div>